<h1> Projects Index </h1>

<ul> 
	<% @projects.each do |project| %> 
		<li><%= link_to(project.name, project_entries_path(project)) %> <%= " - " +
			 project.description %> 
			<% if project.description.present? %> 
			<%= link_to 'Destroy', project_path(project), method: :delete, data: {confirm:"Are you sure?"} %>
		<% end %> 
		</li>
	<% end %>
</ul> 


