<h1> Contacts Home </h1>

<a href> <img src = "http://i.istockimg.com/file_thumbview_approve/38529222/6/stock-photo-38529222-contacts-symbols.jpg" width= "250" height = "200"></a><br>

<%= link_to 'Show all contacts', contacts_path %>
